
<mat-toolbar>
    <mat-toolbar-row>
      <span><mat-icon>person</mat-icon> userName</span>
      <span class="spacer"></span>
      <mat-icon> 360 </mat-icon> Cerrar sesion
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="container col-12" >
  <mat-tab-group>
    <mat-tab label="Factura"> <app-factrura> </app-factrura></mat-tab>
    <mat-tab label="Productos"> <app-productos> </app-productos> </mat-tab>
    <mat-tab label="Proveedor">  <app-proveedor></app-proveedor>  </mat-tab>
  </mat-tab-group>
  </div>